<footer id="footer" class="footer light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <span class="sitename">{{siteName}}</span>
        </a>
        <div class="footer-contact">
          <a href="{{siteMap2}}" target="_blank" class="text-dark">{{siteAddress}}</a>
          <a class="d-block text-dark mt-3" href="mailto:">
            <strong>Email : </strong> {{siteEmail}}</a>
          <a class="d-block text-dark" href="tel:{{sitePhone}}"><strong>Phone : </strong>{{sitePhone}}</a>
          <a class="d-block text-dark" href="tel:{{siteWhatsApp}}"><strong>WhatsApp : </strong>{{siteWhatsApp}}</a>

        </div>
        <div class="social-links d-flex mt-4">
          <a href="{{siteTwitter}}" target="_blank"><i class="bi bi-twitter-x"></i></a>
          <a href="{{siteFacebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="{{siteInstagram}}" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="{{siteLinkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="{{siteYoutube}}" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/feature">Features</a></li>
          <li><a href="/department">Departments</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/testimonial">Testimonial</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/faq">Faq</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/">Terms of service</a></li>
          <li><a href="/">Privacy policy</a></li>
          <li><a href="/">Data policy</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 footer-about">
        <h4>Newsletter</h4>
        <p>Stay connected with {{siteName}}! Subscribe to our newsletter for the latest updates, event
          highlights, academic news, and important announcements—delivered straight to your inbox.</p>
        <form action="">
          <div class="btn-group w-100">
            <input type="email" name="email" placeholder="Eamil Address" class="form-control border-4">
            <button class="btn btn-primary">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">{{siteName}}</strong> <span>All Rights Reserved</span></p>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>