<header id="header" class="header sticky-top">

  <div class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <a href="mailto:{{siteEmail}}" class="text-light"><i class="fa fa-envelope me-1"></i><span
            class="d-none d-md-inline">{{siteEmail}}</span></a>
        <a href="tel:{{sitePhone}}" class="text-light ms-4"><i class="fa fa-phone me-1"></i><span
            class="d-none d-md-inline">{{sitePhone}}</span></a>
        <a href="https://wa.me/{{siteWhatsApp}}" class="text-light ms-4"><i class="bi bi-whatsapp me-1"></i><span
            class="d-none d-md-inline">{{siteWhatsApp}}</span></a>
      </div>
      <div class="social-links d-md-flex align-items-center">
        <a href="{{siteTwitter}}" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="{{siteFacebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="{{siteIntagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="{{siteLinkedin}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="{{siteYoutube}}" class="youtube"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div><!-- End Top Bar -->

  <div class="branding d-flex align-items-center">

    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">{{siteNameLogo}}</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/event">Events</a></li>
          <li><a href="/feature">Services</a></li>
          <li><a href="/department">Departments</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/testimonial">Testimonial</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/faq">Faq</a></li>
          <li><a href="/contactus">Contact</a></li>
          <li><a href="/admin">Admin</a></li>
          {{!-- <li class="dropdown"><a href="#"><span>Other</span> <i
                class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Events</a></li>
            </ul>
          </li> --}}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn d-none d-sm-block" href="/enquiry">Make a Enquiry</a>

    </div>

  </div>

</header>